@charset "UTF-8";

.empty {
    width: 49%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.top_menu {
    width: 49%;
    position: absolute;
    top: 0;
}

.top_menu img {
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer;
}

.inner_container {
    width: 100%;
    height: 80vh;
    margin: 10vh;
    overflow-y: auto;
}

.inner_container .info {
    padding: 10px 20px;
    text-align: center;
    font-size: 10pt;
}

#send_message {
    position: absolute;
    bottom: 0;
    width: 49%;
    height: 50px;
}

#message_input {
    width: 80%;
    margin-left: 5%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
}

#send_message label {
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    cursor: pointer;
}

.row {
    display: block;
    padding: 5px 10%;
}

.received p {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 20px;
    max-width: 80%;
}

.sent {
    text-align: right;
}

.sent p {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4cbfff;
    color: white;
    border-radius: 20px;
    max-width: 80%;
}

.inner_container img {
    background-color: #eee;
    border-radius: 20px;
    max-width: 80%;
    max-height: 300px;
}