@charset "UTF-8";

#profile .picture_container {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 200px;
}

#profile .picture_container img {
    display: block;
    margin: auto;
    width: 100%;
    height: 200px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
}

#profile .picture_container label {
    position: absolute;
    margin-top: -200px;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    opacity: 0;
    background: black url(../img/upload-pic.png) no-repeat center;
    cursor: pointer;
}

#profile .picture_container label:hover {
    opacity: 0.7;
}

#profile .name {
    display: block;
    margin: auto;
    padding: 0 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 40px;
}

#profile .row {
    display: block;
    margin: 10px 30px;
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 5px;
}

#profile .menu {
    position: absolute;
    bottom: 0;
    width: 25%;
}

#profile .menu button {
    display: block;
    margin: auto;
    width: 90%;
    border: none;
    border-top: 1px solid #ccc;
    font-size: 16pt;
    background: transparent url(../img/logout.png) no-repeat scroll 10px 17px;
    background-size: 30px;
    padding: 15px 0;
    text-align: right;
    transition: all .3s ease;
}

#profile .menu button:hover {
    width: 60%;
}